@charset "utf-8";
/* CSS Document */
html { height: 100%; font-size:62.5%;}
* { margin: 0; padding: 0; list-style: none; font-style: normal;}
*:focus {outline: none}
body { font-size: 1.2rem; color:#333; font-family: "Microsoft Yahei", "Droid Sans Fallback", "Arial", "Helvetica", "sans-serif", "宋体";}
img {border: 0; display:inline-block;}
a{text-decoration:none;color: #666;}
a:focus{color: #666;}
.clear {clear:both; height:0; overflow:hidden;}

/*--大图点开--*/

	/*banner*/
.game-xx-banner{ width:100%; background:url(../images/title02.png) no-repeat; background-size:100% auto;  margin-top:6%; overflow:hidden; position:relative; top:0; left:0; z-index:100;}
.game-xx-banner .swiper-main{ padding:0 2.5% 17px 2.5%;}
.game-xx-banner .swiper-container { margin:12% auto 0 auto;}
.game-xx-banner .swiper-slide {
        text-align: center;
        font-size: 18px;
        width:40%;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.game-xx-banner .swiper-slide img{
    width: 100%; border-radius:4px;
}	
.swiper-pagination-bullet{ display:none;}
	/*end banner*/

	/*图片点击放大*/
.carrousel {
			position: fixed; width:100%; height:100%;
			background: rgba(000,000,000,0.8); top:0px; left:0; overflow: hidden;
			display: none; z-index:1000;
}
.carrousel img{ width:100%; position:absolute; top: 50%;
    left:0%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%); border-radius:0px;}
	/*end 图片点击放大*/
/*--end 大图点开--*/


/*大图 滚动*/
.game-xx-banner{ position:relative; top:0; left:0; z-index:100;}
.big-swiper-main{ position:fixed; top:0px; left:0; width:100%; height:100%; z-index:99;  background:#fff;}
.big-swiper-main .swiper-container{ width:100%; display:inline-block; vertical-align:middle;}
.big-swiper-main .swiper-container .swiper-slide img{ width:100%;}
/*end 大图 滚动*/


/*子页面*/
	/*about-us*/
	.about-us{ color:#b881e2; padding:10px;}
	.about-us a{ color:#1b1b1b; }
	.about-us h3{ width:100%; color:#1b1b1b; font-size:1.8rem; text-align:center; margin-bottom:15px; padding-bottom:10px; box-shadow:0px 1px 0px 0px rgba(255,255,255,1); border-bottom: 1px solid #ccc;}
	.about-us p{ font-size:1.4rem; text-indent:30px; margin-bottom:10px; color:#1b1b1b;}
	
	.about-us .list{ text-indent:0;}
	.about-us .list b{ line-height:30px;}
	/*end about-us*/
	
	/*打不开*/
	.logo-q,.img-q{ width:100%;}
	.logo-q img{ width:48%; margin:10px;}
	
	.img-q img{ width:100%;}
	
	.q-button{ width:100%; padding:0 2%; box-sizing:border-box; -webkit-box-sizing:border-box;}
	.q-button button{ width:46%; margin:0 2% ;  float:left;  border-radius:6px; border:none; padding:3% 0; margin-top:10%; text-align:center; background:#fe4d4d; box-shadow:0 3px 0 #dc2929; color:#fff; font-size:1.4rem;}
	/*end 打不开*/
	
	
	/*安装问题*/
	.problem-anz{  background: url(../images/img-q02.jpg) center bottom #5197ed no-repeat; background-size:100% auto; font-size:1.25rem; padding:5% 15px 20% 15px; line-height:2.4rem; color:#fff; }
	.problem-anz p{text-indent:22px;}
	
	.problem-list{ width:100%; padding:0 10px; box-sizing:border-box; -webkit-box-sizing:border-box;}
	.problem-list .list{display:table; width:100%; }
	.border-bottom{ border-bottom:1px solid #e4e4e4; padding-bottom:20px; margin-bottom:20px; overflow:hidden;}
	.problem-list .list > span,.problem-anz .list > div{ display:table-cell;}
	.problem-list .list > span{  width:50px; text-align:center;}
	.problem-list .list > span i{ display:inline-block; text-align:center; width:35px; height:35px ; line-height:35px; background:#ffc000; border-radius:50%; font-size:2rem; color:#fff;}
	.problem-list .list > div{ font-size:1.4rem; color:#3a3a3a; padding-right:20px;}
	.problem-list .list > div button{ background:#5197ed; border:none; color:#fff; border-radius:3px; padding:2% 0; width:48%; font-size:1.6rem; margin-top:20px;} 
	/*end 安装问题*/
	
/*end 子页面*/	

/*弹框*/
.cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index:1001;
}	
	
.cover-50 {
    position: fixed;
    z-index: 1002;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
}


	/*--标准弹框--*/
		/**邀请注册页---更新***/
.pack-box{ width:280px; margin-left:auto; margin-right:auto; border-radius:6px; background:#fff; text-align:center; font-size:14px;  padding:25px 0px 0px 0px ; box-sizing:border-box; -webkit-box-sizing:border-box;}	
.pack-box .big-img{ width:35px; margin-bottom:10px;}
.pack-box p{ line-height:30px;}
		/**end 邀请注册页---更新***/
		/*一个按钮 更新*/
.button01{ overflow:hidden; border-top:1px solid #eee; margin-top:20px;}
.button01 button{ width:100%; background:#fff; float:left; height:45px; line-height:45px; border:0; font-size:15px; text-align:center; color:#ff8173; border-radius:0 6px;}
		/*两个按钮*/
.button02{ overflow:hidden;  }
.button02 button{ width:50%; float:left; height:45px; line-height:45px; border:0; font-size:1.5rem; text-align:center;}
.button02 .bg-ec{ background:#ffc445; color:#fff; border-radius:0 0 0 6px;}
.button02 .bg-blue{ background:#ffb618; color:#fff; border-radius:0 0 6px 0;}
	/*--end  标准弹框--*/

	/*提示--微信下载不了*/
	.tishi,.mask{ width:100%; height:100%; background:rgba(0,0,0,.8); position:fixed; top:0; left:0; z-index:2000;}
	.tishi img{ width:100%; margin-top:10px;}
	/*end 提示--微信下载不了*/		
	
	/*标准弹框02*/
.mask-content {
    width: 90%;
    position: fixed;
    left: 5%; top:52%; transform:translateY(-50%); -webkit-transform:translateY(-50%);
    background: #fff;
    border-radius: 8px;
}
.mask-content h3{ font-size:1.8rem; font-weight:normal; color:#1b1b1b; border-bottom:1px solid #e7e7e7; padding:4% 0; text-align:center; position:relative;}
.mask-content h3 .mask-close{ position:absolute; top:-40px; right:5px; height:60px; display:block;}
.mask-content h3 .mask-close img{ height:100%;}
	/*end 标准弹框02*/

	/*邀请注册页--加群*/
.mask-content .mask-banner {
    width: 100%;
    color: #1b1b1b;
    font-size: 1.4rem;
    margin-bottom: 2%;
    text-align: center;
}
.mask-content .mask-banner img {
    width: 75%;
}
.mask-content .mask-button {
    width: 100%;
    border: none;
    background: #ff9b25;
    font-size: 1.8rem;
    border-radius: 0 0 8px 8px;
    color: #fff;
    padding: 4% 0;
    text-align: center;
}
	/*end 邀请注册页--加群*/

	/*安装弹框*/			
.mask-anz {
    width:80%; left:10%;
}
.mask-anz  h3{ font-weight:bold;}	
.mask-wenz{ padding:30px 15px;}	
.mask-wenz p{ text-align:left; text-indent:2.8rem; line-height:1.6em; font-size:1.4rem; margin-bottom:10px; color:#666;}
.mask-wenz p:last-child{ margin-bottom:0;}	
	/*end 安装弹框*/		
/*end 弹框*/

@media only screen and (max-width: 768px) {
html {
	font-size:75%;
}
}
@media only screen and (max-width: 435px) {
html {
	font-size:68.8%;
}
}
@media only screen and (max-width: 384px) {
html {
	font-size:68.8%;
}
}
@media only screen and (max-width: 375px) {
html {
	font-size:68.8%;
}
}

@media only screen and (width: 360px) {
html { 
	font-size:62.5%;
}	
}

@media only screen and (max-width: 320px) {
html { 
	font-size:62.5%;
}
}